
# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
ENV/

# Django related
*.log
*.pot
*.pyc
db.sqlite3
/media
/static

# Local settings
local_settings.py

# IDE/editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*

# pipenv
Pipfile.lock

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env
